*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #FFF8DC;
    padding: 50px;
    width: 90%;
    margin: auto;
    font-family: 'Google+Sans';
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-bottom: 20px;
    padding: 20px;
    max-width: 660px;
    height: 60px;
    background-color: #DEB887;
}
footer{
    text-align: center;
    align-content: center;
    margin-top: 40px;
    font-weight: bold;
    font-style: italic;
}
.Entry-System{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 10px;
}
.Live-List {
    display: flex;
    flex-direction: column; 
    align-items: center;   
    gap: 20px;
    margin-top: 30px;
    background-color: #FFA07A;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    border: 2px solid #000; 
    border-radius: 15px;
}
.Live-List h2 {
    white-space: nowrap;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.2); 
    padding-bottom: 10px;
}
#employeeList {
    width: 100%;
    list-style: none; 
    padding: 0;
}
#employeeList li {
    display: flex;            
    justify-content: space-between;
    align-items: center;
    background-color: #fff;  
    border: 1px solid #000;  
    border-radius: 8px;       
    margin-bottom: 10px;      
    padding: 12px;           
}
#employeeList button {
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    transition: 0.3s;
}
#employeeList button:hover {
    background-color: #ff0000;
    color: white;
}
.name, .designation, .salary{
    padding: 12px;
    width: 250px;
    box-sizing: border-box;
    border-radius: 7px;
}
.btn{
    width: 70px;
    height: 35px;
    box-sizing: border-box;
    font-weight: bold;
    border: none;
    border-radius: 12px;
    background-color: #6495ED;
    transition: 0.6s;
    cursor: pointer;
}
@media(max-width: 768px){
    nav{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: 2px solid #000000;
        border-radius: 15px;
        gap: 50px;
        margin-bottom: 20px;
        padding: 10px;
        width: 90%;
        height: auto;
    }
    footer{
        text-align: center;
    align-content: center;
    margin-top: 40px;
    font-weight: bold;
    font-style: italic;
    }
    .Entry-System{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 10px;
}
.Live-List {
    display: flex;
    flex-direction: column; 
    align-items: center;   
    gap: 20px;
    margin-top: 30px;
    background-color: #FFA07A;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    border: 2px solid #000; 
    border-radius: 15px;
}
.Live-List h2 {
    width: 90%;
    text-align: center;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.2); 
    padding-bottom: 10px;
}
#employeeList {
    width: 90%;
    list-style: none; 
    padding: 0;
}
#employeeList li {
    display: flex;            
    justify-content: space-between;
    align-items: center;
    background-color: #fff;  
    border: 1px solid #000;  
    border-radius: 8px;       
    margin-bottom: 10px;      
    padding: 12px;           
}
#employeeList button {
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    transition: 0.3s;
}
#employeeList button:hover {
    background-color: #ff0000;
    color: white;
}
.name, .designation, .salary{
    padding: 12px;
    max-width: 250px;
    box-sizing: border-box;
    border-radius: 7px;
}
.btn{
    max-width: 70px;
    height: 35px;
    box-sizing: border-box;
    font-weight: bold;
    border: none;
    border-radius: 12px;
    background-color: #6495ED;
    transition: 0.6s;
    cursor: pointer;
}
}